@keyframes underline-animation {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .underline-animation {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  
  .underline-animation::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
  }
  
  .underline-animation:hover::after {
    width: 100%;
    animation: underline-animation 0.3s forwards;
  }
/* Apply clip-path only for laptop screens (min-width: 1024px) */
@media (min-width: 1024px) {
  .clip-path-laptop {
    clip-path: path('M 15,0 L 240,0 A 15,15 0,0,1 255,15 L 255,80 A 20,20 0,0,0 275,100 L 1000,100 A 15,15 0,0,1 1015,115 L 1015,635 A 15,15 0,0,1  1000,650 L 15,650 L 0,640 L 0,10 L 15,0 Z');
  }
}
/* Ensure text wraps properly on tablets and mobile */
/* Ensure text wraps properly on tablets and mobile */
@media (max-width: 1024px) {
  .font-serif {
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
  }

}